/* 基本配置 */
#write {
	font-size: 15px;
  max-width: 725px;
	text-align: justify;
}

/* 颜色配置 */
:root {
	--main-color: #6babe5;
	--main-text-color: #0071ce;
	--text-bg-color: #f0f6fc;
}

/* 字体调整 */
@font-face {
  font-family: 'Source Han Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Source Han Serif'), local('Source Han Serif'),url('./handout/SourceHanSerifSC-VF.otf.woff2') format('woff2');
}
@font-face {
  font-family: 'Source Han Serif Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Source Han Serif Bold'), local('Source Han Serif Bold'),url('./handout/SourceHanSerifSC-Bold.woff2') format('woff2');
}
body {
    font-family: "Source Han Serif","SimSun";
		color: #000;
		-webkit-font-smoothing: antialiased;
}

/* 侧边栏配置 */
.file-list-item:hover, .file-list-item.active {
    background-color: var(--text-bg-color);
}

.file-node-content, .file-tree-node.active .file-node-content {
    color: var(--main-text-color);
}
.file-tree-node.active>.file-node-background {
    background-color: var(--main-text-color);
}
.file-node-content:hover .file-node-icon {
    color: var(--main-text-color);
}
.file-node-content:hover {
    cursor: pointer;
    color: var(--main-text-color) !important;
}
.outline-item:hover {
    color: var(--main-text-color) !important;
    background-color: #eeeeee;
}
.md-lang {
    color: #b4654d;
}
.html-for-mac .context-menu {
    --item-hover-bg-color: #e6f0fe;
}
.info-panel-tab:hover{
    color: var(--main-text-color);
}

/* 头部YAML格式 */
pre.md-meta-block {
    padding: 15px;
    background: var(--text-bg-color) !important;
    /*border: 1px grey dashed !important;*/
    font-size: 0.8rem;
    line-height: 1.45;
    border-radius: 5px;
}

/* 标题配置 */
h1 {
  text-align: center;
	font-size: 1.9em;
	font-weight: 700;
	line-height: 1.1;
	padding-top: 16px;
	margin-bottom: 4px;
}
h1:after {
    content: '';
    display: block;
    margin: 0.2em auto 0;
    width: 45%;
    height: 2px;
    border-bottom: 2px solid var(--main-color);
}
h2, h3, h4, h5, h6 {
	line-height: 1.5em;
	margin-top: 1.7em;
	margin-bottom: 4px;
}
h2 {
	font-size: 1.6em;
	margin: 1.4em auto 1.2em;
	padding-left: 0px;
	font-weight: 700;
  border-bottom: 2px solid var(--main-color);
}
h2 span {
    display: inline-block;
    font-weight: bold;
    background: var(--main-color);
    color: #ffffff;
    padding: 4px 15px 1px;
    margin-right: 3px;
}
h2::after {
		display: inline-block;
		content: "";
		vertical-align: bottom;
		border-bottom: 36px solid #efebe9;
		border-right: 20px solid transparent;
}
h3 {
	font-weight: 700;
	font-size: 1.4em;
	line-height: 1.4em;
	margin: 10px 0 15px;
  padding-left: 9px;
  border-left: 5px solid var(--main-color);
}
h4 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1em;
	line-height: 1.4;
	margin: 10px 0 5px;
	padding-top: 10px
}
h5, h6 {
	font-size: .9em;
}
h5 {
	font-weight: bold;
	text-transform: uppercase;
}
h6 {
	font-weight: normal;
	color: #AAA;
}

/* 分割线配置 */
hr {
		background-image: repeating-linear-gradient(-45deg, var(--main-color), var(--main-color) 4px, transparent 4px, transparent 8px);
		border: 0;
		height: 3px;
		margin: 20px 0
}

/* 超链接配置 */
a {
    padding: 0 2px;
}
#write a {
    border-bottom:2px solid var(--main-color);
    padding: 0 4px;
    /*padding-top: 2px;*/
    transition: .3s;
    color: #000;
    text-decoration: none;
}
#write a:hover {
    border-radius:6px;
    border-bottom:2px solid transparent;
    background-color:var(--main-color);
    color: #fff !important;
    cursor:pointer;
}

/* 列表配置 */
#write ul li, #write ol li, #write .ul .li, #write .ol .li {
    list-style-type: none;
}
#write ul>li:not(.tab):before {
    margin-left: -22px;
    margin-top: 10px;
    width: .62em;
    height: .62em;
    border: .1em solid var(--main-color);
    border-radius: .31em;
    background: 0 0;
    content: '';
    line-height: .42em;
}
#write ol li:before, #write ul li:before, #write .ol .li:before, #write .ul .li:before {
    position: absolute;
    background: var(--main-color);
    color: #fff;
		font-weight: 700;
}
#write ol li:first-child, #write .ol .li:first-child {
    counter-reset: li;
}
}
#write ul>li:not(.tab):hover:before, #write .ul>.li:not(.tab):hover:before{
    border-color: var(--focus-color);
}
#write ol>li:before, #write .ol>.li:before {
    margin-top: 0px;
    margin-left: -35px;
    width: 2.5em;
    height: 1.4em;
    content: counter(li);
    counter-increment: li;
    text-align: center;
    font-size: 1em;
    line-height: 1.4em;
		font-weight: 700;
}

/* 任务列表配置 */
.md-task-list-item>input {
		margin-left: -1.1em;
		margin-top: -0.3rem;
		-webkit-appearance: none;
}
.md-task-list-item>input:before {
		content: '';
		display: inline-block;
		width: 0.875rem;
		height: 0.875rem;
		vertical-align: middle;
		text-align: center;
		font-size: 0.8rem;
		color: white;
		border-radius: 2px;
		/*background-color: white;*/
		border: 1px solid var(--main-color);
		margin-top: -0.3rem;
		transition: all 0.2s linear;
}
.md-task-list-item>input:checked:before,
.md-task-list-item>input[checked]:before {
		content: '\2714';
		font-size: 0.625rem;
		color: white;
		border: 1px solid var(--main-color);
		background-color: var(--main-color);
		line-height: .8rem;
}
.md-task-list-item:before{
    content: none !important;
}
#write input[type=checkbox] {
    position: absolute;
    top: 6px;
    left: -6px;
    background-color: inherit;
}

/* 引用块配置 */
blockquote {
    border-left: 5px solid var(--main-color);
    padding: 10px 15px;
    background-color: var(--text-bg-color);
		position:relative;
}

/* 代码块配置 */
.cm-s-inner .CodeMirror-linenumber {
    color: var(--main-color);
}
.md-fences:not(.md-focus) .CodeMirror-code>*:hover {
    background-color: var(--text-bg-color);
}
.md-fences.md-focus .CodeMirror-code>div.CodeMirror-activeline {
    background-color: var(--text-bg-color);
}

/* 表格配置 */
table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  font: inherit;
  border: 0;
  margin: 0 auto;
}

tbody {
  margin: 0;
  padding: 0;
  border: 0;
}

table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #F8F8F8;
}

table tr th, table tr td {
  font-size: 16px;
  border: 1px solid #CCC;
  margin: 0;
  padding: 5px 10px;
}

table tr th {
  font-weight: bold;
  color: #eee;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}
table tr:hover {
  background-color: var(--text-bg-color);
}

/* 图表配置 */
:root {
  --mermaid-theme: default;
  --mermaid-flowchart-curve: basis;
}
.node rect,
.node circle,
.node ellipse,
.node polygon,
.node path {
  fill: var(--text-bg-color) !important;
  stroke: var(--main-color) !important;
}

#mermaidChart0 .cluster rect {
fill: #F0F3F4 !important;
stroke: var(--main-color) !important;
}

/* 加粗配置 */
#write strong {
		font-family: "Source Han Serif Bold"，"Source Han Serif","SimSun";
    color: var(--main-text-color);
}

/* 斜体配置 */
#write em {
    padding: 0 2px 0 2px;
    font-style: italic;
    color: var(--main-text-color);
}

/* 行间代码配置 */
#write code,
tt {
		display: inline;
		padding: .2em .6em;
		font-size: 0.9rem;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .1rem;
		border-radius: 6px;
		background-color: var(--main-color);
}

/* 高亮配置 */
#write mark {
		padding-left: 6px;
		padding-right: 6px;
		display: inline-block;
		font-weight: 700;
		background-color: var(--text-bg-color);
		border: 1px solid var(--main-text-color);
		border-top: 4px solid var(--main-text-color);
}
mark {
		margin-right: 10px;
}

/* 间距配置 */
p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}
li>ol,
li>ul {
    margin: 0 0;
}
body>h2:first-child {
    margin-top: 0;
    padding-top: 0;
}
body>h1:first-child {
    margin-top: 0;
    padding-top: 0;
}
body>h1:first-child+h2 {
    margin-top: 0;
    padding-top: 0;
}
body>h3:first-child,
body>h4:first-child,
body>h5:first-child,
body>h6:first-child {
    margin-top: 0;
    padding-top: 0;
}
a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}
h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}
#write p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
#write ol,
#write ul {
    padding-left: 40px;
    margin: .5rem 0;
}
#write ol>li>*,
#write ul>li>* {
    font-weight: normal;
}
#write ol>li>*:not(ol):not(ul) {
    padding-left: 1.25rem;
}
#write ul>li>*:not(ol):not(ul) {
		padding-left: 0rem;
}
